

// Body
$body-bg: #f8fafc;

$primary: #3e56aa;
$secondary: #f44e47;
$accentPrimary:  rgb(137, 162, 251);
$primaryLight: rgba(62, 86, 170, 0.9);
$white: #ffffff;
$black: #000000;
$coolblack: #262626;
$offWhite: #f4f4f4;
$gray: #bbbcbe;
$darkGray: #797979;
$blue: #3047c9;
$headerimgHeight: 17rem;





// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


//width 
$container-lg: 100%;
$container-md: 85%;
$container-sm: 90%;